@inherits LayoutComponentBase
@inject IJSRuntime JS
@using MySimpleUI.Components.Shared
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<ConfirmDialog @ref="confirmDialog" OnConfirm="HandleConfirm" />
@code {
    private ConfirmDialog confirmDialog;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("addEscKeyListener", DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public void HandleEscKey()
    {
        confirmDialog.Show();
    }

    private async Task HandleConfirm(bool confirmed)
    {
        if (confirmed)
        {
            //do something
        }
    }
}
